.merck-app-content-wrapper {
  height: 100%;
}

.merck-app-content {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  * {
    flex: 1 400px;
  }

  ::ng-deep mat-card {
    margin: 2rem;
    max-width: 500px;
  }
}
