.merck-app-content-wrapper {
  height: 100%;
  display: flex;
}

.merck-app-content {
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.merck-app-content-gutter {
  flex: 0;

  @media (min-width: 600px) {
    flex: 1;
  }
}
