<merck-simple-mat-card title="Under Construction!">
  <p>
    Hi there! I'm a Senior Software Engineer who recently started creating this
    website as an opportunity to try out some newer technologies, e.g. Nx,
    Angular standalone components, and other such fun and innovative tools.
  </p>
  <p>
    I'm still in the early stages of development, but I'm excited to see what I
    can create. I hope you'll follow along and give me some feedback.
  </p>
  <p>Thanks for visiting!</p>
</merck-simple-mat-card>
